
<div ng-if="$ctrl.logs.length === 0">
  <strong>
    No logs to show.
  </strong>
</div>


<p>
<button type="button" class="btn btn-danger" ng-click="$ctrl.clear()" ng-show="$ctrl.logs.length > 0">Clear Logs</button>
</p>

<table class="table table-bordered" ng-show="$ctrl.logs.length > 0">
  <thead>
    <tr>
      <th>Type</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="log in $ctrl.logs">
      <td>{{log.type}}</td>
      <td>{{log.message}}</td>
      <td>{{log.date | date:'medium'}}</td>
    </tr>
  </tbody>
</table>



